
:root{
    --box-shadow:2px 0px 4px 1px rgba(232, 230, 230, 0.404);
    --font-weight: lighter ;
    --font-family: sans-serif;
    --text-align: center;
    --color: rgb(160, 157, 157);
    --background-color: transparent;
    --button-shadow: 1px 1px 5px rgba(128, 128, 128, 0.581);
    --button-border-radius:3px;
    --button-font-size: 1.1rem;
    --feature-bg-color: #f7f7f7;
}


*{
    margin: 0;
    padding: 0;
}
body{
    /* margin: 0;
    padding: 0; */
    /* overflow-y: hidden; */
   /* overflow: hidden; */
   overflow-x: hidden;
}

nav{
    display: flex;
    padding: 24px;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    gap: 150px;

}
.list>li{
    list-style-type: none;
    cursor: pointer;
    /* margin-right: 20px; */
    font-family: sans-serif;
    color: rgb(12, 12, 12);
    font-size: smaller;
    font-weight: 100;
    font-size: 13px;
    
   
    
}
.list{
    display: flex;
    gap: 50px;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
    gap: 15px;
}
.btn>button{
    background-color: #fa5959;
    color: white;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 4px;
}
.relative>.container-flex{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 112px;
    width: 100%;
    padding: 0px 16px;
    margin-left: 10px;
    
}
.relative{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 130px;
}

h1{
    font-family: sans-serif;
    font-size: 3rem;
    line-height: 1;
margin-bottom: 24px;
    font-weight: 500;
}
.h1{
    width:  34cqmax;
    /* padding-left: 70px; */
    padding-top: 40px;
}
.h1>p{
    color: rgb(145 148 162 );
    font-family: sans-serif;
    line-height: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 24px;
}
.rectangle{
   width:734.4px ; 
   position: absolute;
   background-color: #5267df;
   height: 320px;
   bottom: -7rem;
   border-bottom-color: rgb(229, 231, 235);
   border-top-left-radius: 9999px ;
   border-bottom-left-radius:9999px ;
   z-index: -1;
   left: 760px;
   top: 370px;
   /* overflow-y: hidden; */
}
.btn-2>button{
    width: 160px;
    height: 45px;
    background-color: transparent;
    border: none;
    background-color: #5267df;
    color: white;
    text-transform: capitalize;
    text-size-adjust: 100%;
    font-variant: normal;
    border-radius: 6px;
    box-shadow: 1px 0px 7px 1px rgba(179, 179, 179, 0.749);
    
    font-size: medium;
}
.btn-2{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    
}
#btn{
    background-color: #f7f7f7;
    color: black;
}
#image{
    /* padding-right:80px; */
    width: 500px;
}
.feature{
    margin-top: 240px;
    padding: 80px 0px;
    background-color: #f7f7f7;
   
}
.container>h3{
    
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    line-height: 2rem;
   
    font-weight: 100;}
    .container>p{
        text-align: center;
        color: rgb(145 148 162 );
    font-family: sans-serif;
    padding-top: 20px;
    }

    .containerdiv{
        display: flex;
        gap: 80px;
        align-items: center;
        flex-wrap: wrap;
        /* justify-content: center; */
        
      
    }
        .left{
           
            position: relative;
            
            
            
        }
        .oneclick>p{
            width: 500px;
            text-align: left;
            
            font-family: sans-serif;
            color: rgb(160, 157, 157);
            line-height: 1.5rem;
        }
        .oneclick>h2{
            text-align: left;
            font-family: sans-serif;
            font-weight: lighter;
            
        }
        .outclick{
            gap: 30px;
        }
        .intelligent{
            text-align: right;
            
            
        }
        .btn2{
            width: 110px;
            height: 40px;
            border-radius: 6px;
            font-size: 17px;
            padding: 10px;
            background-color: transparent;
            border: none;
            color: white;
            background-color: #5267DF;
        }
        .rectangle2{
            width: 700px;
            height: 340px;
            background-color:#5267DF ;
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
            top: 180px;
            bottom: 200px;
            position: absolute;
            z-index: 1;
            
            
        }
        .image2{
            display: flex;
            justify-content: left;
            margin-top: 70px;
            margin-left: 250px;
            
           
        }
       #image4{
        width: 550px;
       }
        .containerdiv2{
            width: 100%;
            display: flex;
            align-items: center;
        flex-wrap: wrap;
        justify-content:space-around;
        gap: 90px;

        }
      .main{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 50px;
        margin-top: 90px;
      }
      .extentions{
        padding-top: 80px;
      }
      .heading{
        font-family: sans-serif;
        width: 100%;
      }
      .heading>p{
        text-align: center;
        width: 100%;
        margin-top: 16px;
      }
      .heading>h2{
        text-align: center;
      }
      .card-container>.c1{
        width: 288px;
        height: 309.6px;
        border-top: none;
        border-radius: 6px;
        box-shadow: var(--box-shadow);
        
        
        border-right-color: rgb(229, 231, 235);

      }
      .outer{
        display: flex;
      }
      .chrome>h3,p{
        font-family: var(--font-family);
        text-align: var(--text-align);
        font-weight: var(--font-weight);
      }
      .chrome>h3{
        margin-top: 20px;
        margin-bottom: 8px;
      }
      hr{
        opacity: 0.3;
        
      }
      .chrome>p{
        color:var(--color) ;
      }
      .c1{
        width: 100%;
        margin-bottom: 64px;

       
        
      }
      .c1>.chrome{
        display: flex;
        flex-direction: column;
      align-items: center;
        justify-content: center;
        padding:1.5rem;
        width: 83%;
        height:190px;
        line-height: 1.9rem;
      }
      /* .chrome>img{
        width: 102px;
        height: 100px;   
    } */
    .button>button{
        background-color: transparent;
        border: none;
        width: 100%;
        background-color: #5267DF;
        color: white;
        height: 50px;
        font-size: 1.1rem;
        border-radius: 3px;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.581)
       
    } 
    .button>button:hover{
        background-color: aliceblue;
        color: black;
    }
    .button{
        padding: 12px;
    }
    .card-container{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 64px;
        margin-left: 61px;
        margin-right: 61px;
    }
   .c2{

    margin-top: 32px;
    margin-bottom: 32px;
   }
   .c3{
    margin-top: 64px;
   }
  .head{
    margin-left: 318px;
    margin-right: 318px;
  
    
  }
  .head>h2{
    text-align:center;
    font-family: sans-serif;
    line-height: 1.7rem;
    font-weight: var(--font-weight);
  }
  .head>p{
    text-align: center;
    line-height: 1.9rem;
    font-weight: 400;
    color: var(--color);
  }
  .question-section{
    background-color:var(--feature-bg-color) ;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #questions{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .questions{
    margin-left: 320px;
    margin-right: 320px;
    margin-top: 48px;
    height: 320px;
    width: 455px;
    /* width: 455px; */
  }
  .btn3{
    display: flex;
    justify-content: center;
    margin-top:16px ;
  }
  .holder{
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 200px;
width: 75%;
  }
  .footer{
    width: 100%;
    background-color:  #5267df;;
    height: 250px;
    padding-top:80px ;
  }
  #p1{
    font-size: medium;
    color: white;
    padding: 10px;
  }
  #p2{
    color: white;
    font-weight: 200;
    font-size: 25px;
    word-spacing: 0.1rem;
    padding: 10px;
    
  }
  .email{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap:30px;
    margin-top: 20px;
  }
  #email{
    background-color: #ffffff;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size:medium;
    padding: 10px;
    color: rgb(194, 194, 194);
  }
  #button{
    background-color: #fa5959;
    border: none;
    border-radius: 5px;
    font-size:medium;
    padding: 10px;
    color: white;
    width: 150px;
  }
  .last{
    width: 100%;
    height: 100px;
    background: #242a45;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .list{
    display: flex;
    align-items: center;
  }
  .list>li{
    color: white;
    font-size: smaller;
  }
  .logo>img{
   background-color: white;
  }
  .lasticons{
    display: flex;
    gap:30px;
    font-size: 20px;
  }
  #last{
    display: flex;
    gap:20px;
  }
    
    
    
     


@media screen and (min-width:0px) and (max-width:480px) {



    .last{
        flex-direction: column;
        height: 200px;
  
    }
    #last{
        flex-direction: column;
        
       gap:3rem;
    }
    .list>li{
        font-size: x-small;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
hr{
    width: 95%;
}
body{
    padding: 0;
    margin: 0;
}





#p2{
    text-wrap: wrap;
}
.footer{
    padding: 20px;
    width: 91.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
#email{
    width: 395px;
}
#button{
    width: 420px;
   
    height: 45px;
}




.head{
    margin: 0px;
    

}

.holder{
    margin: 0;
    justify-content: center;
}
.questions{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}




    .card-container{
        display: block;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-container>.c1 , .c2 , .c3{
        width: 100%;
    }
    .outer{
        justify-content: center;
        width: 100%;
    }
    
    
    
    
    .nav-items>.list{
        display: none;
    }
    .nav-items{
        width: 100%;
        justify-content:space-around;
    }
    nav{
        width: 90%;
    }
    body{
        width: 100%;
        /* width: 455.200px; */
        overflow-x: hidden;
        
    }
    .rectangle{
        display: none;
    
    
    }
    .container-flex{
        flex-wrap: wrap;
        width: 100%;
    }
    .relative{
        padding: 0;
    margin: 0px;
width: 100%;
/* justify-content: center; */
}
#image{
    width: 100%; 
}
    .h1{
        order:2 ;
        width: 100%;
        margin-top: 40px;
    }
    .image-container{
        width: 100%;
    
    }
    .h1>h1{
        font-size: 1.9rem;
        text-align: center;
    }
    .h1>p{
        text-align: center;
    }
    .btn-2{
        justify-content: center;
    }
    .feature{
        padding: 0;
        margin: 0;
       width: 100% ;
        padding: 80px 0px;
        margin-top: 80px;
        
    }
    .container{
         width: 100%;   
         margin: 0px;
    }
    h3{
        font-size: larger;
    }
    .container>p{
        padding: 0px 20px;
        line-height: 1.5rem;
    }
    .containerdiv{
        width: 100%;
        margin-top: 80px;
    }
    .rectangle2{
        display: none;
    }
    .left{
        width: 0%;
        
    }
    .left>.image2>img{
        margin: 0px;
        width :90%;
        
    }
    .left>.image2{
       margin: 0;
       display: flex;
       justify-content: center ;

    }
    .left{
        width: 100%;
    }
    .oneclick{
        width: 100%;
    }
    .oneclick>p{
        text-align: center;
        width: 90%;
        padding: 10px;

    }
    .oneclick>h2{
        text-align: center;
        width: 100%;
    }
    .oneclick>.btndiv{
        display: flex;
        justify-content: center;
    }
    .main{

        margin: 0;
    }
    .image3>img{
       width: 80%;
    }
    .image3{
        display: flex;
        justify-content: center;
    }
    #image4{
      
        width: 80%;
    }
   
    .main>.containerdiv{
        flex-direction: column-reverse;
    }
   
}
